/* Taak 1 CSS begint hier! */

img.auto {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.div {
    width: 60%;
}

/* Taak 2 CSS begint hier! */

img.form {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
    margin-top: 50px;
}

.clear {
    clear: both;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.image2 {
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    border-right: 1px solid black;
    width: 20%;
    float: left;
}

/* Taak 5 CSS begint hier! */

.gHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 50px;
    background-color: #202124;
    height: 20px;
}

.textColorGray {
    color: #BDC1C6;
}

.textColorWhite
{
    color: white;
}

.gPadding {
    padding-right: 10px;
}

.gHeaderRight {
    height: 20px;
}

.gImage {
    width: 15px;
    height: 15px;
}

.gImageDiv {
    background-color: #202124;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    width: 100%;
    height: 200px;
}

.gLogo {
    width: 272px;
    height: 92px;
}

.gSearchDiv {
    background-color: #202124;
    width: 100%;
    height: 150px;
}

.gSearchDiv2 {
    padding: 20px
}

.gSearchDiv3 {
    justify-content: center;
}

.gSearchDiv4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.gSearchDiv5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

button {
    width: 130px;
    height: 36px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #303134;
    border: 1px solid #303134;
    color: #e8eaed;
}

.searchButton {
    width: 500px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #5f6368;
    background-color: #202124;
    color: #e8eaed;
}

.gRecommendedDiv {
    background-color: #202124;
    width: 100%;
    height: 200px;
    color: #BDC1C6;
}

.languages {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: available;
}

.footer1 {
    background-color: rgb(23, 23, 23);
    padding: 15px;
    color: #999DA2;
}

hr {
    border: 1px solid #5f6368;
}

.footer2 {
    background-color: rgb(23, 23, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999DA2;
}

.sustainabiltyImage {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.footer3 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(23, 23, 23);
    height: 20px;
    color: #999DA2;
}

/* Taak 6 CSS begint hier! */

.t6Navbar {
    height: 30px;
    background-color: #9ad2f3;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t6Banner {
    height: 100px;
    background-color: #9ad2f3;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t6Image {
    height: 80px;
    width: 80px;
}

.t6Margin{
   margin-left: 10px;
}

.t6Content {
    height: 300px;
    width: 80%;
    background-color: #9ad2f3;
    margin-bottom: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.t6News {
    height: 300px;
    width: 19%;
    background-color: #9ad2f3;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.t6Footer {
    height: 50px;
    background-color: #9ad2f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Taak 7 CSS begint hier!*/

.t7Navbar {
    height: 50px;
    background-color: #9ad2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

nav.t7Header {
    background-color: #9ad2f3;
    justify-content: center;
    align-items: center;
}

.t7Banner {
    height: 100px;
    background-color: #9ad2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.t7Image {
    height: 35px;
    width: 35px;
}

.t7Padding {
    padding-right: 50px;
}

.t7Content {
    height: 300px;
    background-color: #9ad2f3;
    float: left;
    width: 80%;
    margin-bottom: 5px;
}

.t7ArticleHeader {
    height: 30px;
    width: 100%;
    padding-left: 100px;
    padding-top: 15px
}

.t7HR {
    margin-left: 20px;
    margin-right: 20px;
}

.t7Article {
    margin-left: 20px;
    margin-top: 20px;
    height: 100px;
    width: 80%;
}

.t7ArticleImage {
    height: 3.75em;
    width: 6.625em;
    float: left;
}

.t7ArticleTitle {
    float: left;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t7Margin {
    margin-left: 100px;
    margin-right: 100px;
}

.t7News {
    height: 300px;
    background-color: #9ad2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 20%;
    margin-bottom: 5px;
}

.t7Footer {
    height: 100px;
    background-color: #9ad2f3;
    display: flex;
    justify-content: center;
    align-items: center;
}